@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
p > a {
  color: #ecc94b;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; /* Chakra UI's yellow.400*/
}
p > a:hover,
p > a:visited {
  color: #d69e2e;
}
/* ---- PAGINATION STYLES - START */
li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
li:hover:not(.selected, .previous, .next) {
  background-color: rgba(255, 255, 255, 0.16);
}
li.previous,
li.next {
  padding: 0 0.5rem;
}
li.selected {
  background-color: #ecc94b;  /* Chakra UI's yellow.400 */
  color: #1a202c;
}
li.selected,
li.selected a,
li.disabled a {
  cursor: auto;
}
li.disabled,
li.disabled a {
  color: #4a5568;
}
/* PAGINATION STYLES - END ----- */